body,html{
  height: 100%;
}

footer{
  position: absolute;
  width: 100%;
  bottom: auto;
}

header.masthead {
  background-image:url('/img/gb_1.jpg');
}

div.container{
  position: relative;
}

.register-photo {
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../../img/meeting.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.btn-primary:hover{
  background-color:
  #c08b19;
  border-color:
  #b15e0c;
} 

.btn-primary{
    background-color:
  #ee9f09;
  border-color:
  #ee7f09;
}

.header_center{
  text-align: center;
}

#changePass{
  font-size: 15px;
}

.form_login {
  display: table;
  max-width: 900px;
  width: 65%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #1e2833;
  padding: 40px 60px;
  color: #a46d45;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #1e2833;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #e56b45;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background:  #d8300e ;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.navbar-brand {
  color:#f5c248 !important;
  font-family: 'Kaushan Script', sans-serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white !important;
  }

  .nav-link:hover{
    color:hsla(0,0%,100%,.75) !important;
  }

  .nav-link#highlight {
    color: #ee7f09 !important;
  }

  .nav-link#highlight:hover {
    color: #ca6901 !important;
  }

  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color:#f5c248 !important;
  }

    h3.section-subheading{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 60px;
    text-transform: none;
    font-family: "Droid Serif", sans-serif;
  }

  .intro-text .intro-lead-in {
    color: white;
    font-size: 30px;
    font-style: italic;
    line-height: 40px;
    font-family: "Droid Serif", sans-serif;
}

.intro-text .intro-heading {
  color: white;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  font-family: "Montserrat", sans-serif;
}

#contact{
  margin-top: 8%;
  margin-bottom: 8%;
  font-family: "Droid Serif", sans-serif;
}

#services {
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: "Droid Serif", sans-serif;
}

section#contact .form-group input, 
section#contact .form-group textarea{
  padding: 20px;
  height: auto;
}

section#contact .form-group #message {
  height: 230px;
  margin-bottom: 7%;
}

.fa-circle{
  color:#e9a91e;
}

#aboutUs{
  margin-bottom: 5%;
}

#homePage{
  margin-top: 18%;
}

.cardList{
  margin-top: 3%;
  border: solid 1px rgb(240, 146, 59);
  border-radius: 8px;
}

.text-muted.sub_cat{
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  font-family: "Droid Serif", sans-serif;
}

.card_products{
  margin-top: 35px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 2%;
  border-radius: 8px;
}

.custom_form {
  background: #fafafa;
  padding: 80px 0;
}

.custom_form form {
  margin: 0 auto;
  background-color: #e1cebe;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.custom_form form .form-control {
  background: #e1cebe;
  border: none;
  border-bottom: 1px solid #e98a3c;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.custom_form .upForm{
  width: 50%;
}

.custom_form .btn{
  margin-top: 8%;
}

.custom_form input{
  font-size: 20px;
}

.forgot{
  color:#7a7a7a;
  font-size: 13px;
}

.custom_btn{
  margin-top: 12%;
}

.topMargin {
  margin-top:100px;
  display: flex;
	flex-direction: column;
	min-height: 90%;
}

.topUser{
  margin-top:80px;
  display: flex;
	flex-direction: column;
	min-height: 90%;
}

.custom_title{
  font-family: 'Lato', sans-serif;
}

#upUser{
  border-radius: 8px;
}

.title_form{
  margin-bottom: 10%;
}

.myAutocomplete {
  border: solid 0.5px #c1c1c1;
  height: 12%;
  width: 65%;
  margin: 7% 4%;
  border-radius: 8px;
  padding: 2%;
}

.icon-list {
  float: right;
  vertical-align:middle; 
  margin-left: 50%;
}

li.old_prod span{
  float: left;
  margin-left: 6%;
}

.price_prod input{
  border: solid 0.5px #dedede;
  border-radius: 4px;
  width: 30%;
  padding: 2%;
}

.price_prod{
  display: inline-flex;
  width: 70%;
  float: right;
  left: 65%;
}

.total-price p{
  display: inline;
}

.subList{
  width:100%;
}

.total-price{
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin: 5%;
}

.prodlist{
  border: solid 1px darkgray;
  border-radius: 8px;
}

.userCard{
  color: #f7d074 !important;
  font-family: 'Lato', sans-serif;
}

.userCard:hover{
  color: #eb993c !important;
}

.delBut {
  color: #d8300e !important;
  cursor: pointer;
}

.delBut:hover {
  color: #791e0b !important;
  cursor: pointer;
}

a {
  color: rgb(155, 129, 113) !important;
}

a:hover {
  color: #a06d44 !important;
}

.addLink{
  color:rgb(252, 42, 88) !important;
}

.addLink:hover{
  color:rgb(209, 2, 47) !important;
}

.ui-helper-hidden-accessible, #ui-id-1 { 
  display:none; 
}

.ui-autocomplete {
  background: #ffffff;
  text-decoration: none;
  width: 35%;
  border-radius: 5px;
  border: solid 0.5px black;
}

.ui-menu .ui-menu-item div{
  list-style: none;
}
