{{#if errors}}
    <div class="alert alert-danger">
        {{errors}}
    </div>
{{/if}}

<div class="row align-items-center">
    <div class="p-5">
        <h1>Bonjour {{firstname}},</h1>
        <p>Plusieurs magasins sont disponibles afin de réaliser vos listes de courses et gérer votre budget mensuel. </p>
        <p>Si le magasin où vous faites vos courses n&#39;est pas présent dans la liste, veuillez faire une demande aux gérants du site. Pour cela, laissez un message ici, votre demande sera étudiée.</p>
    </div>
</div>