<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><input type="search" />
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sélection de vos derniers produits</h4>
                        <h6 class="text-muted card-subtitle mb-2">Ces produits sont tirés de vos 3 dernières listes</h6>
                        <ul class="list-group">
                            <li class="list-group-item"><span>List Group Item 1</span></li>
                            <li class="list-group-item"><span>List Group Item 2</span></li>
                            <li class="list-group-item"><span>List Group Item 3</span></li>
                        </ul><a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Heading</h5>
                <ul class="list-group">
                    <li class="list-group-item"><span>List Group Item 3</span><input type="number" /></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>