<div class="register-photo">
    <div class="form-container">
        <form method="post">
            <h2 class="text-center">Modifier le profil.</h2>
            <div class="row">
                <div class="col">
                    <div class="form-group"><input type="text" class="form-control" name="firstname" value="" /></div>
                    <div class="form-group"><input type="text" class="form-control" name="lastname" value="" /></div>
                    <div class="form-group"><input type="email" class="form-control" name="email" value="" /></div>
                </div>
                <div class="col">
                    <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Mot de passe" /></div>
                    <small id="password_msg" class="form-text text-danger"></small>
                    
                    <div class="form-group"><input type="password" class="form-control" name="passwordConfirm" placeholder="Confirmer le mot de passe" /></div>
                    <small id="password_confirm_msg" class="form-text"></small>
                </div>
            
            
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="formCheck-1" />
                    <label class="form-check-label" for="formCheck-1">Administrateur</label>
                </div>
                
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Modifier</button></div>
            </div>
        </form>
    </div>
</div>
