<div>
    <div class="container">
        <ul class="list-group">
            {{#if errors}}
                <div class="alert alert-success">
                    {{errors}}
                </div>
            {{/if}}
            {{#each persons as | person |}}
            
                <li class="lgi list-group-item" style="background-color: rgb(40,48,63);color: orange;">
                    <a href="/users/{{id}}" style="color: rgb(255,165,0);">{{person.lastname}} {{firstname}}</a>
                </li>
            
            {{/each}}
        </ul>
    </div>
</div>